<main id="main">
  <section class="section">
    <form id="form">
      <label>Vorname</label>
      <input type="text" placeholder="Vorname" name="firstname" />
      <label>Nachname</label>
      <input type="text" placeholder="Nachname" name="lastname" />
      <label>Geschlecht</label>
      <input type="text" placeholder="Geschlecht" name="gender" />
      <label>E-Mail</label>
      <input type="email" placeholder="E-Mail" name="email" />
      <label>Tel</label>
      <input type="tel" placeholder="Tel" name="tel" />

      <button class="save">Speichern</button>
    </form>
  </section>
</main>
